.container {
  margin-left: 20rem;
  margin-top: 5rem;
  height: 80vh;
  width: 50rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(122, 122, 122, 0.253); */
}

.form {
  display: flex;
  flex-direction: column;
}

.l1 {
  font-size: 3rem;
  color: azure;
}

input {
  height: 3rem;
  font-size: 2rem;
  padding: 0.4rem;
}

button {
  width: 35%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
}

h1 {
  color: azure;
  margin-bottom: 6rem;
  margin-top: 6rem;
  font-size: 4rem;
}
