.dashBoardContainer {
  display: flex;
}

.UserListTable {
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  border-collapse: collapse;
  margin-top: 5rem;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 4rem;
}

th {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

.dashBoard {
  margin-bottom: 30rem;
}
