.clock {
  margin-left: 20rem;
  margin-top: 5rem;
  height: 80vh;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

#time {
  font-size: 5rem;
  color: azure;
}

#greeting {
  font-size: 3rem;
  color: aliceblue;
}
#brand {
  font-size: 5rem;
  color: aliceblue;
}
