.adminHomePageContainer {
  width: 100%;
  height: 100vh;
  background-image: url("C:\Users\jgrsa\OneDrive\Desktop\banking-app\src\component\AdminHomePage\T5.jpg");
  background-size: fill;
}
.dashContainer {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(223, 241, 59, 0.4);
  margin-top: 8rem;
}

/* #NavBarContainer {
} */
